<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Internationalization examples</title>

  <!-- Bootstrap -->
  <link href="assets/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/main.css">
  <link rel="stylesheet" href="https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.css">

  <!-- Libraries -->
  <script src="assets/js/angular.min.js"></script>
  <script src="https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.js"></script>
  <script src="app.js"></script>

  <script src="assets/js/angular-translate.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.5.0/angular-sanitize.min.js"></script>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    </head>

    <body ng-app="app" ng-controller="mainCtrl">
      <div class="container">
        <div class="row">
          <div class="col-xs-3 sidebar">
            <ul class="nav nav-pills nav-stacked">
              <li><a ng-click="viewSelected = 'simpleExample'">Simple Example</a></li>
              <li><a ng-click="viewSelected = 'fallbackLanguage'">Fallback Language</a></li>
              <li><a ng-click="viewSelected = 'nestedExample'">Nested Example</a></li>
              <li><a ng-click="viewSelected = 'shortcut'">Shortcut</a></li>
              <li><a ng-click="viewSelected = 'linked'">Linked</a></li>
              <li><a ng-click="viewSelected = 'usingTranslateService'">Using translate service</a></li>
              <li><a ng-click="viewSelected = 'usingTranslateFilter'">Using translate filter</a></li>
              <li><a ng-click="viewSelected = 'usingTranslateDirective'">Using translate directive</a></li>
              <li><a ng-click="viewSelected = 'insideLoop'">Using translate inside a ng-repeat</a></li>
              <li><a ng-click="viewSelected = 'variableReplacement'">Variable replacement</a></li>
              <li><a ng-click="viewSelected = 'formatsAndPluralization'">Formats and Pluralization</a></li>
              <li><a ng-click="viewSelected = 'uigrid'">ui-grid and $translate</a></li>
              <li><a ng-click="viewSelected = 'highCharts'">Hightcharts internationalization</a></li>
            </ul>
          </div>
          <div class="col-xs-9">
            <div ng-switch on="viewSelected">

              <!--This is a simple example-->
              <div ng-switch-when="simpleExample" class="text-center">
                <h1>This is a simple example</h1>
                <div class="well">
                  <p class="lead" translate="THIS_IS_AN_EXAMPLE"></p> 
                </div>
              </div>

              <!-- Fallback language -->
              <div ng-switch-when="fallbackLanguage" class="text-center">
                <h1>Fallback language</h1>
                <div class="well">
                  <p class="lead" translate="ONLY_ENGLISH"></p>
                </div>
              </div>

              <!-- Nested example-->
              <div ng-switch-when="nestedExample" class="text-center">
                <h1>Nested Example</h1>
                <div class="well">
                  <p class="lead" translate="NESTED.NESTED_EXAMPLE"></p>
                </div>
              </div>

              <!-- Shortcut -->
              <div ng-switch-when="shortcut" class="text-center">
                <h1>Shortcut</h1>
                <div class="well">
                  <p class="lead" translate="NESTED"></p>
                </div>
              </div>

              <!-- Linked -->
              <div ng-switch-when="linked" class="text-center">
                <h1>Linked</h1>
                <h2>First: </h2><p class="lead" translate="COMMON.SEND"></p>
                <h2>The one linked: </h2><p class="lead" translate="COMMON_ANOTHER.SEND"></p>
              </div>

              <!-- Translate as a service -->
              <div ng-switch-when="usingTranslateService" class="text-center">
                <div class="well">
                  <h1>Using translate as a service with one translation ID</h1>
                  <p class="lead">Monday: {{monday}}</p>
                </div>
                <div class="well">
                  <h1>Using translate with multiple translations IDs</h1>
                  <p>Tuesday: {{tuesday}}</p>
                  <p>Wednesday: {{wednesday}}</p>
                </div>
              </div>

              <!-- Using translate filter -->
              <div ng-switch-when="usingTranslateFilter" class="text-center">
                <h1>Using translate filter</h1>
                <div class="well">
                  <p class="lead">Days of the week:</p>
                  <p>{{'WEEK_DAYS.MONDAY' | translate}}</p>
                  <p>{{'WEEK_DAYS.TUESDAY' | translate}}</p>
                  <p>{{'WEEK_DAYS.WEDNESDAY' | translate}}</p>
                  <p>{{'WEEK_DAYS.THRUSDAY' | translate}}</p>
                  <p>{{'WEEK_DAYS.FRIDAY' | translate}}</p>
                  <p>{{'WEEK_DAYS.SATURDAY' | translate}}</p>
                  <p>{{'WEEK_DAYS.SUNDAY' | translate}}</p>
                </div>
              </div>

              <!-- Using translate directive -->
              <div ng-switch-when="usingTranslateDirective" class="text-center">
                <div class="well">
                  <h1>Using translate directive</h1>
                  <p class="lead" translate="USING_DIRECTIVE"></p>
                </div>
              </div>

              <!-- Inside for loop -->
              <div ng-switch-when="insideLoop" class="text-center">
                <div class="well">
                  <h1>Inside ng-repeat</h1>
                  <p ng-repeat="singleDay in daysOfTheWeek" translate="{{singleDay.day}}"></p>
                </div>
              </div>

              <!-- Variable replacement -->
              <div ng-switch-when="variableReplacement" class="text-center">
                <div class="well">
                  <h1>Variable replacement</h1>
                  <p class="lead">Let's say we want to say welcome to an user named Bob</p>
                  <p><span translate="SAY_HELLO" translate-values='{ username: "Bob"}'></span></p>
                  <br>
                  <p class="lead">We can also use custom translate value attributes</p>
                  <p><span translate="SAY_HELLO" translate-value-username="Bob"></span><br></p>
                </div>
              </div>

              <div ng-switch-when="formatsAndPluralization" class="text-center">
                <div class="well">
                  <h1>Formats and Pluralization</h1>

                </div>
              </div>

              <!-- UI-GRID -->
              <div ng-switch-when="uigrid" class="text-center">
                <div class="well">
                  <h1>UI-GRID</h1>
                  <div ui-grid="gridOptions" class="grid"></div>
                </div>
              </div>

              <!-- HIGH charts-->
              <div ng-switch-when="highCharts" class="text-center">
                <div class="well">
                  <h1>Highcharts</h1>
                  <div id="highChartsGraph" style="height: 300px"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="text-center" role="group">
            <button class="btn btn-primary" ng-click="changeLanguage('en')">English</button>
            <button class="btn btn-warning" ng-click="changeLanguage('de')">German</button>
            <button class="btn btn-danger" ng-click="changeLanguage('es')">Spanish</button>
          </div>
        </div>
      </div>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="assets/js/bootstrap.min.js"></script>
      <script src="http://code.highcharts.com/highcharts.js"></script>

    </body>
    </html>